* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
  scroll-padding-top: 12em;
}

main {
  overflow: hidden;
}

img {
  max-width: 100%;
  background-color: transparent;
}

button {
  font-family: Be Vietnam Pro;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

body {
  font-family: Be Vietnam Pro;
  line-height: 1.6;
  font-weight: 400;
  background-size: cover;
  background-position: center;
}

h1 {
  font-size: clamp(1.25rem, 5vw, 3rem);
  font-weight: 600;
  font-family: Be Vietnam Pro;
  color: black;
  background-color: transparent;
  text-wrap: balance;
  text-wrap: wrap;
}

h2 {
  font-size: clamp(.875rem, 4vw, 1.25rem);
  font-weight: 500;
  line-height: 1.6;
  font-family: Be Vietnam Pro;
  color: #403D39;
  background-color: transparent;
  text-wrap: wrap;
}

p {
  font-size: clamp(.875rem, 4vw, 1.125rem);
  font-weight: 400;
  font-family: be vietnam pro;
  color: #4C4C4D;
  background-color: transparent;
  text-wrap: wrap;
}

a {
  text-decoration: none;
  margin: auto;
  border: none;
  font-size: 1rem;
  color: #262626;
  cursor: pointer;
}

.nav-link {
  text-decoration: none;
  color: #262626;
  font-size: 1rem;
  font-weight: 500;
}

.nav-link:hover,
.nav-link:focus {
  color: #820D17;
  font-weight: 700;
}

li {
  list-style: none;
}

header {
  padding: 0 2 rem;
  position: fixed;
  z-index: 999;
  width: 100%;
}

.navbar {
  height: 100px;
  padding: 0 10rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FFFFFF;
}

.navbar .logo img {
  width: 50px;
  margin-top: .4rem;
}

.navbar .links {
  display: flex;
  gap: 2rem;
}

.navbar .toggle_btn {
  color: #262626;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.navbar .btn {
  padding: 1em 2em;
  background-color: #820D17;
  font-size: 1rem;
}

.article-featured {
  margin-top: 12.625em;
}

.store-section img {
  width: 28px;
  margin-top: -1.5rem;
  margin-right: 1.125em;
}

.store-section span {
  color: #820D17;
}

.store-section h1 {
  margin-bottom: 1.5rem;
}

.article-featured h2 {
  font-size: 2.375em;
  margin-bottom: 1rem;
}

.featured-btn{
  margin-top: 3.75rem;  
}

.featured-btn .btn {
  margin: 0 .275rem;
  color: #262626;
}

.featured-btn button {
  border: 1.8px solid #820D17;
}

.slider{
  padding-top: 6em;
  overflow: hidden;
  white-space: nowrap;
}

.slider::before,
.slider::after{
  top: 0;
  width: 50%;
  height: 100%;
  content: "";
}
.slider::before{
  left: 0;
}
.slider::after{
  right: 0;
}

@keyframes slide{
  form{
    transform: translateX(0);
  }
  to{
    transform: translateX(-100%);
  }
}

.logo-slider img:hover{
  transform: scale(1.20);
  transition: all .6s;
  cursor: pointer;
}

.logo-slider{
  display: inline-block;
  animation: 44s slide infinite linear;
}

.logo-slider img{
  margin: 0 3em;
}

.banner {
  margin: 6em 0 4em 0;
}

.section-1-title p {
  width: 74rem;
}

.section-1-card h1{
  font-weight: 700;
  font-size: 4.25rem;
  text-align: end;
}

.section-1-card h2{
  font-size: 1.6rem;
  text-align: start;
  padding: 2rem 0 1rem 0;
}

.section-1-card p {
  font-weight: 400;
  padding-bottom: 3.5rem;
}

.featured-img {
  float: right;
}

.section-2-title {
  margin: 10.5rem 0 4rem 0;
}

.section-2 .flex {
  padding: 3.75rem 0;
}

.section-2-title span {
  margin-right: 1rem;
}

.section-2-title p {
  margin-left: 5em;
}

.section-2-card-front{
  max-width: 60rem;
  padding-left: 6.5rem;
}

.section-2-card-back{
  max-width: 52rem;
  padding-right: 6.5rem;
}

.section-2-card-title {
  font-size: 2.5rem;
  line-height: 1.3;
  margin-bottom: 1.675rem;
}

.section-2-info {
  font-size: 1.125em;
  font-weight: 400;
}

.section-3-title h1 {
  margin: 6rem 0 1rem 0;
}

.section-3-info p {
  max-width: 66rem;
  margin-right: 16.8rem;
}
.section-3-info .mt-btn {
  border: solid 2px #820D17;
  color: #262626;
  padding: .8em 1.875em;
}

.section-3-info .yr-btn {
  color: #262626;
  padding: .8em 1.875em;
}

.section-3-content {
  margin: 10rem 0;
}

.pricing-info {
  max-width: 48.75rem;
}

.pricing-info .btn {
  border-radius: 0 0 8px 8px;
  background-color: #820D17;
  color: #FFFFFF;
  padding: .8em 1.875em;
  width: 34rem;
}

.price {
  font-size: 4.25rem;
  padding: 2.25rem 0;
}

.section-3 span {
  font-size: 1.125rem;
  color: #4C4C4D;
}

.icon-text {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 2.25rem 0 0 4rem;
  line-height: 1.5;
}

.icon-text span {
  padding: .125em .5em;
}

.section-3 button {
  margin-top: 2.5rem;
}

.section-banner {
  padding: 8rem 0 12rem 0;
}

.section-banner img {
  justify-self: center;
  margin-bottom: 3rem;
}

.section-banner h2 {
  margin-top: 1rem;
  max-width: 42rem;
}

.section-4-info {
  background-color: #820D17;
  border-radius: 0 26px 26px 0;
  max-width: 54rem;
  height: 53.5rem;
  padding: 10.625rem 6.875rem;
  margin-top: -6.4px;
}

.section-4-info span {
  background-color: transparent;
}

.section-4-info h1 {
  color: #FFFFFF;
}

.section-4-info h2 {
  color: #DBD4D4;
  font-weight: 400;
  font-size: 1rem;
  padding: 1.125rem 0;
}

.section-4-info p {
  color: #DBD4D4;
}

.fa-solid {
  margin-right: 10px;
  background-color: transparent;
}

.section-4-info .title {
  font-weight: 700;
}

.section-4-info button {
  justify-self: start;
  border: solid 2px #DBD4D4;
  border-radius: 0;
  margin-top: 1.5rem;
  padding: .8em 1.275em;
}

.section-5 {
  display: flex;
  justify-content: space-between;
  padding: 12.5rem 6.5rem;
  gap: 7.5rem;
}

.section-5-title {
  max-width: 25.5rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.section-5-title h1 {
  line-height: 1.2;
}

.section-5-title p {
  margin-top: 1em;
}

.section-5-info {
  width: 50rem;
}

.section-5-info .fa-solid {
  cursor: pointer;
}

.section-5-info .flex {
  margin-top: 5em;
  justify-content: space-between;
}

.contact {
  background-color: #820D17;
  padding: 2rem 1rem;
}

.footer-contact {
  display: flex;
  justify-content: space-between; 
  align-items: flex-start; 
  max-width: 1595px;
  margin: 0 auto;
  width: 100%;
  gap: 4rem;
}

.footer-info {
  flex: 1;
  justify-content: flex-start;
  min-width: 200px;
}

.footer-info button {
  padding: .5rem 0;
  text-align: start;
  font-size: 1rem;
}

.footer-info button:hover,
.footer-info button:focus {
  color: #FFFFFF;
}

.footer-socials .fa-brands:hover,
.footer-socials .fa-brands:focus {
  color: #FFFFFF;
}

.footer-links .footer-info {
  flex: 1;
}

.footer-links {
  flex: 2;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}


.footer-logo {
  margin-bottom: 2rem;
}

.footer-info p,
.footer-info h2,
.footer-info button {
  color: #262626;
}

/* features page */

.section-1-features .flex {
  justify-content: space-between;
}

.features-title {
  margin: 14rem 0 6rem 0;
}

.features-title h1 {
  max-width: 23.125rem;
}

.features-title p {
  max-width: 48rem;
}

.features-card {
  padding: 6rem 6rem 4rem 0;
}

.features-card h1 {
  font-size: 1.5rem;
  padding: 1em 0 .675em 0;
}

.cta .flex {
  justify-content: space-between;
  margin: 9rem 0 12rem 0;
  padding: 5rem 6rem;
  border: solid 2px #262626;
}

.cta-content {
  max-width: 75rem;
}

.cta-content h1 {
  line-height: 1.2;
  margin-bottom: .375em;
}

.cta-content h1 span {
  color: #820D17;
}

.cta button {
  background-color: #820D17;
}