* {
  background-color: #FFFFFF;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
  scroll-padding-top: 12em;
}

main {
  overflow: hidden;
}

img {
  max-width: 100%;
  background-color: transparent;
}

button {
  font-family: Be Vietnam Pro;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

body {
  font-family: Be Vietnam Pro;
  line-height: 1.6;
  font-weight: 400;
  background-size: cover;
  background-position: center;
}

h1 {
  font-size: clamp(1.25rem, 5vw, 3rem);
  font-weight: 600;
  font-family: Be Vietnam Pro;
  color: black;
  background-color: transparent;
  text-wrap: balance;
}

h2 {
  font-size: clamp(.875rem, 4vw, 1.25rem);
  font-weight: 500;
  line-height: 1.2;
  font-family: Be Vietnam Pro;
  color: #262626;
  background-color: transparent;
}

a {
  text-decoration: none;
  margin: auto;
  border: none;
  font-size: 1rem;
  color: #262626;
  cursor: pointer;
}

.nav-link {
  text-decoration: none;
  color: #262626;
  font-size: 1rem;
  font-weight: 500;
}

.nav-link:hover,
.nav-link:focus {
  color: #820D17;
  font-weight: 700;
}

li {
  list-style: none;
}

header {
  padding: 0 2 rem;
  position: fixed;
  z-index: 999;
  width: 100%;
}

.navbar {
  height: 100px;
  max-width: 1560px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .links {
  display: flex;
  gap: 2rem;
}

.navbar .toggle_btn {
  color: #262626;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.navbar .btn {
  padding: 1em 2em;
  background-color: #820D17;
  font-size: 1rem;
}

.article-featured {
  margin-top: 12.625em;
}

.store-section img {
  width: 28px;
  margin-top: -1.5rem;
  margin-right: 1.125em;
}

.store-section span {
  color: #820D17;
}

.store-section h1 {
  margin-bottom: 1.5rem;
}

.article-featured h2 {
  font-size: 2.375em;
  margin-bottom: 1rem;
}

.featured-btn{
  margin-top: 3.75rem;  
}

.featured-btn .btn {
  margin: 0 .275rem;
  color: #262626;
}