/* Utilities */

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-wrap: wrap
}

.flex-no-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-wrap: nowrap;
}

.inline-flex {
    display: inline-flex;
}

.grid {
    display: grid;
    justify-content: center;
    align-items: center;
}

.grid-2 {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
}

.grid-3{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items: center;
}

.container {
    width: min(1595px, 100% - 2rem);
    margin: auto;
}

.card {
    width: 29em;
    padding: 3.125em;
    margin: 1.75em;
}

.btn {
    border-radius: 8px;
    padding: 1.125em 2.125em;
    font-family: be vietnam pro;
    font-size: clamp(.5rem, 4vw, 1rem);
    font-weight: 500;
    border: none;
    color: white;
    cursor: pointer;
    transition: all .3s;
}

.btn:hover,
.btn:focus{
    color: #ffffff;
    background-color: #820D17;
    font-weight: 600;
    transform: scale(1.05);
    transition: all .3s;
}

.text-center {
    text-align: center;
}

.color {
    background-color: #ffffff;
}